<!-- Barcode Scanner -->
<div class="hover-effect-selector-home-main-page" style="height:45%;" (click)="ScanBarcode()">
  <!-- image logo of barcode OR qrcode scanner -->
  <div style="text-align:center;">
      <img style="margin-top:15%;" src="./assets/imgs/OtherImages/Homepage/2.png" width="130" heigt="130">    
      <br>
      <p style="color:aliceblue; letter-spacing:1px;">Barcode/QR-code Scanner</p>   
  </div>
</div>
<hr style="color:aliceblue;opacity:.5;border: 1px solid aliceblue;">
<!-- Barcode Generator -->
<div class="hover-effect-selector-home-main-page" style="height:50%;" (click)="encodeQrcode()">
    <div style="text-align:center;">
        <img style="margin-top:20%;" src="./assets/imgs/OtherImages/Homepage/1.png" width="110" heigt="110">       
      <p style="color:aliceblue;letter-spacing:1px;">Barcode/QR-code Generator</p>
      
    </div>
    <div style="margin-top:30%;text-align:center; color:aliceblue;">
      <p>©2017 Ulcreative Softwares</p>
    </div>
</div>
